
  <ul id="dropdown1" class="dropdown-content">
        <li><a routerLink="1LinearGauge">1 : Linear Gauge</a></li>
        <li><a routerLink="2Gauge">2 : Gauge</a></li>
        <li><a routerLink="3Bubble">3 : Bubble</a></li>
        <li><a routerLink="4Polar">4 : Polar</a></li>
        <li><a routerLink="5HoBar">5 : Horizontal Bar</a></li>
        <li><a routerLink="6NormVertBar">6 : Normalized Vertical Bar</a></li>
        <li><a routerLink="7VertBar">7 : Vertical Bar</a></li>
        <li><a routerLink="8Line">8 : Line</a></li>
        <li><a routerLink="9NormArea">9 : Normalize Area</a></li>
        <li><a routerLink="10Pie">10 : Pie</a></li>
        <li><a routerLink="11PieGrid">11 : Pie Grid</a></li>
        <li><a routerLink="12PieAdvance">12 : Pie Advanced</a></li>
  </ul>


<nav class="green accent-3" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Bstorm</a>
    <ul class="right hide-on-med-and-down">
      <a class="dropdown-trigger" data-target="dropdown1">Listes des charts pour NGX Swimlane Chart<i class="material-icons right">arrow_drop_down</i></a>
    </ul>
  </div>
</nav>

